/* Global */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-one: #4E35F2;
    --color-two: #614ED9;
    --color-three: #75D966;
    --color-four: #F2F2F2;
    --color-five: #0D0D0D;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 16px;
    background-color: var(--color-four);
    font-family: 'Montserrat', sans-serif;
}

/* Nav style */

/* Le puse estilo sino desaparecian la redes y el boton reservar cuando era chico */
#buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--color-two);
}

/* Agregue las redes y el boton reservar que no estaban en este formato de pantalla */
.redes-btn i {
    color: var(--color-four);
}


.redes-btn i:hover {
    transform: scale(1.05, 1.05);
    transition: transform 0.2s ease-in;
}

.reserva-btn a {
    text-decoration: none;
    color: var(--color-four);
    background-color: var(--color-three);
    padding: 1rem;
    border-radius: 2rem;
    font-weight: 800;
}

.reserva-btn a:hover {
    background-color: #49a53b;
    transition: all 0.2s ease-in;
}

#header-nav {
    border-bottom: 1px solid var(--color-five);
    background-color: var(--color-one);
}

.navbar-container {
    display: flex;
    justify-content: space-around;
    padding-top: 2rem;
}

.logo img {
    width: 10rem;
}

#menu-toggler svg {
    fill: var(--color-four);
    height: 6rem;
}

#menu-toggler {
    width: 10rem;
    height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid var(--color-four);
    cursor: pointer;
}

/* Nav menu */
#nav-menu {
    flex-direction: column;
    text-align: end;
    font-size: 3rem;
}

#nav-menu a {
    color: var(--color-four);
    text-decoration: none;
    margin: 1rem;
}

#nav-menu a:nth-child(3) {
    display: none;
}

/* Abrir y cerrar el nav menu */
.menu-open {
    display: flex;
}

.menu-close {
    display: none;
}

/* //css para las canchas en alquiler hasta 550px */
.pAlquiler {

    text-align: center;
    font-size: 25px;
    color: #F2F2F2;
    padding: 0px;
    background-color: var(--color-three);

}

.grid-container {
    display: grid;
    grid-template-rows: 25% 25% 25% 25%;
    gap: 10px;
    background-color: var(--color-two);
    padding: 25px;
}

.card {
    height: 200px;
    color: #F2F2F2;
    border: 5px solid var(--color-four);
    background-color: var(--color-three);
    padding: 10px;
    font-size: 14px;
    margin-left: 30px;
    margin-right: 30px;
    text-align: center;
}

.res-btn a {
    text-decoration: none;
    color: var(--color-four);
    background-color: var(--color-two);
    padding: 1rem;
    border-radius: 2rem;
    font-weight: 800;
}



    /* Desktop nav menu */
    /*Cambie a 550 px para que no se achique tanto la letra y no se solape Alq Canchas y Otros Servicios*/
    
    @media(min-width: 650px) {
        #buttons {
            display: flex;
            justify-content: space-around;
            align-items: center;
            background-color: var(--color-two);
        }

        .redes-btn i {
            color: var(--color-four);
        }

        .redes-btn i:hover {
            transform: scale(1.05, 1.05);
            transition: transform 0.2s ease-in;
        }

        .reserva-btn a {
            text-decoration: none;
            color: var(--color-four);
            background-color: var(--color-three);
            padding: 1rem;
            border-radius: 2rem;
            font-weight: 800;
        }

        .reserva-btn a:hover {
            background-color: #49a53b;
            transition: all 0.2s ease-in;
        }

        .navbar {
            display: flex;
            justify-content: space-around;
            align-items: center;
        }

        .navbar-container {
            display: none;
        }

        #menu-toggler {
            display: none;
        }

        #nav-menu {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            font-size: 2vw;
        }

        #nav-menu a:nth-child(3) {
            display: inline;
        }

        #nav-menu a:hover {
            transition: transform 0.2s ease-in;
            transform: scale(1.05, 1.05);
            border-bottom: 1px solid var(--color-three);
        }

        /* //css para las canchas en alquiler min 550px */

        .grid-container {
            display: grid;
            grid-template-columns: 50% 50%;
            grid-template-rows: 50% 50%;
            gap: 20px;
            background-color: (--color-two);
            padding: 50px;

        }

        .card {
            height: 300px;
            border: 5px solid (--color-four);
            background-color: (--color-three);
            padding: 10px;
            font-size: 14px;
            color: (--color-four); 
            text-align: center;
        }

        .pAlquiler {

            text-align: center;
            font-size: 30px;
            padding: 0px;
            background-color: var(--color-three);
        }

    }